In [167]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

In [168]:
# Which country has won the most gold medals in summer games?

def answer_one():
    return df[(df['Gold'] == max(df['Gold']))].index.values[0]

# answer_one()

In [169]:
# Which country had the biggest difference between their summer and winter gold medal counts?

def answer_two():
    max_difference = max(abs(df['Gold'] - df['Gold.1']))
    return df[(df['Gold'] - df['Gold.1']) == max_difference].index.values[0]

# answer_two()

In [174]:
# Which country has the biggest difference between their summer gold medal counts and winter 
# gold medal counts relative to their total gold medal count?
# Only include countries that have won at least 1 gold in both summer and winter.

def answer_three():
    new_df = df[(df['Gold.1'] > 0) & (df['Gold.1'] > 0)]
    max_rel_diff = max((new_df['Gold'] - new_df['Gold.1'])/new_df['Gold.2'])
    return new_df[((new_df['Gold'] - new_df['Gold.1'])/new_df['Gold.2']) == max_rel_diff].index.values[0]
    
# answer_three()

'Bulgaria'

In [171]:
# Write a function that creates a Series called "Points" which is a weighted value where
# each gold medal (Gold.2) counts for 3 points, 
# silver medals (Silver.2) for 2 points, and bronze medals (Bronze.2) for 1 point.
# The function should return only the column (a Series object) which you created, with the country names as indices.

def answer_four():
    cpy_df = df.copy()
    return (cpy_df['Gold.2'] * 3) + (cpy_df['Silver.2'] * 2) + (cpy_df['Bronze.2'])

# answer_four()